

.shopping-cart-title {
    text-align: center;
    margin: 100px 0 20px 0;
    font-size: 1.7rem;
}

// .shopping-cart-container {
//     min-height: 400px;
// }

.empty-cart-container {
    width: fit-content;
    margin: 100px auto;
    border: 1px solid black;
    padding: 20px 60px;
}


.shopping-cart-top-box-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keep-buying-link {
    color: black;
}

.total-bar {
    width: 100%;
    height: 2px;
    background-color: black;
}

.remove-button {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    height: 50px;
    width: 60%;
}

.input {
    margin-top: 10px;
}

.total-bar {
    margin-bottom: 50px;
}

.total-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-amount {
    text-align: center;
}

.finish-order-button {
    background-color: black;
    color: white;
    border: none;
    height: 50px;
    width: 25%;
    
}

.finish-order-inner-button {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    border: none;
}

.total-container-box {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}


.total-box {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .total-box {
        width: 50%;
    }

    .total-container-box {
        flex-direction: column;
    }

    .finish-order-button {
        margin-top: 30px;
        width: 80%;
    }

}







@media (max-width: 650px) { 

    .total-container-box {
        flex-direction: column;
        justify-content: center;
    }

    .finish-order-button {
        margin-top: 30px;
    }

}

